.form1 {
    text-align: center;
}
.form1 p{
    color: darkgreen;
}
.form1 button{
    color:darkgreen;
}

.place-list {
    text-align: left;

}
.place-list p{
    color: rgb(107, 30, 2);
}
.place-list ul{
    color: rgb(99, 84, 3);

}

#about-section {
    text-align: left;
}

.about-heading{
    color: maroon;
}
.about-description{
    color:rgb(109, 79, 4)
}

.card {
    text-align: center;
    margin: 5px;

}

.card img {
    width: 200px;
    height: 200px;
}
.card p{
    color: rgb(63, 15, 7);
}

.card-container {
    display: flex;
    /* text-align: center; */
    justify-content:space-evenly;
}

* {
    background-color: rgb(109, 177, 177);
}

.header {
    color: rgb(70, 1, 1);
    text-align: center;
    background-image: url(images/images.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px solid gray;
    border-bottom-style: double;
    
}